.popup__title {
    font-size: 24px;
    line-height: 1.21;
    font-weight: 900;
    margin: 0 0 40px;
}

@media screen and (max-width: 1280px) {
    .popup__title {
        font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1280 - 320)));
        margin-bottom: calc(68px + (40 - 68) * ((100vw - 320px) / (1280 - 320)));
    }
}
