.register {
    max-width: 358px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    height: 100%;
}

.register__title {
    margin-top: 0;
    margin-bottom: 37px;
}

.form-register__input {
    width: 100%;
    padding: 13px 0;
    background-color: transparent;
    color: #cccccc;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 17px;
}

.form-register__input:last-of-type {
    margin-bottom: 216px;
}

.form-register__submit {
    margin-top: auto;
    display: block;
    width: 100%;
    padding: 14px 84px;
    border: none;
    background-color: #ffffff;
    border-radius: 2px;
    font-size: 18px;
    line-height: 1.21;
    cursor: pointer;
    transition: all .3s;
}

.form-register__submit:hover {
    background-color: #ffffffd9;
}

.register__question-text {
    margin: 15px 0 0;
    font-size: 14px;
}

.register__question-link {
    color: inherit;
    text-decoration: none;
    transition: all .3s;
}

.register__question-link:hover {
    opacity: .6;
}